body {
  background-image: url('images/Samurai-Artwork.jpg')
}

/*.navbar-brand {
  height: 5px;
  width: 5px;
}*/

.greeting {
  font-family: 'Special Elite', cursive;
}

/*.mini-bio {
 font-family: 'Nixie One', cursive;
}

.bio-title {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.bio-text {
  color: #CD6532;
}*/

.index-title {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.project-descr {
  text-align: center;
  color: #CD6532;
  font-family: 'Nixie One', cursive;
}

.proj-link{
  font-family: 'Architects Daughter', cursive;
}
